/* video view */
.video-view {
  height: 70vh;
}

/* Chat */
.chat {
  margin-top: 0.5rem;
}
.chat__input {
  width: 70%;
  height: 1.9rem;
  padding: 0 0.5rem;
  border-radius: 5px;
  border: 0.1rem solid gray;
}

.chat__send-button {
  width: 20%;
  margin-left: 1rem;
  height: 1.9rem;
  background: none;
  border-radius: 5px;
  border: 0.1rem solid gray;
  color: #fff;
}

.chat__send-button:hover {
  background: #dfdfdf;
  transition: 0.3s;
}

.chat__send-button:active {
  background: #a1a1a1;
  color: white;
}

.chat__send-button:focus {
  outline: 0;
}

/* playlist */
.play-list {
  margin-top: 0.5rem;
  background-color: rgb(170, 170, 170);
}
