/* menu */
.menu {
  height: 3rem;
  margin-top: 0.5rem;
}
/* audience */
.realtime-audience {
  padding: 0.5rem;
}

.realtime-audience__icon,
.like-playlist__button {
  padding: 0.5rem;
  background: white;
  border-radius: 20px;
  border: 0.01rem solid gray;
}

.realtime-audience__amount {
  display: inline-block;
  text-align: center;
  padding: 0.3rem;
  font-size: 0.9rem;
  font-weight: 800;
  border-radius: 10px;
  margin-left: 0.5rem;
  cursor: default;
}

/* like */
.like-playlist__button {
  padding: 0.55rem;
}

.like-playlist__button:focus {
  outline: 0;
}

/* along */
.along {
  position: relative;
}
.along__title {
  position: relative;
  bottom: 0.75rem;
  right: 0.7rem;
  font-size: 0.85rem;
}
.along__inner {
  position: relative;
  display: inline;
}

input[type='checkbox'] {
  position: relative;
  width: 5rem;
  height: 2rem;
  background: #bdc3c7;
  -webkit-appearance: none;
  border-radius: 20px;
  outline: none;
  transition: 0.4s;
  cursor: pointer;
}

input[type='checkbox']::before {
  z-index: 2;
  position: absolute;
  content: '';
  left: 0;
  width: 2rem;
  height: 2rem;
  background: #fff;
  border-radius: 50%;
  transform: scale(1.1);
  transition: 0.4s;
  border: 0.01rem solid gray;
}

input:checked[type='checkbox'] {
  background: #555555;
}

input:checked[type='checkbox']::before {
  left: 60px;
}

label {
  position: absolute;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  pointer-events: none;
}

.along__on {
  bottom: 0.8rem;
  left: 0.8rem;
}

.along__off {
  bottom: 0.8rem;
  right: 0.8rem;
  color: #555555;
}
