.musicPage {
  margin: 2em;
}

/* recent list, liked list */
.recentList,
.likedList,
.recentUser {
  position: relative;
  margin: 5em;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

.recentList_title,
.likedList_title,
.recentUser_title {
  font-size: 2em;
  display: inline-block;
  margin-bottom: 1em;
  color: rgb(255, 255, 255);
}

.recentList_removeRecentListButton,
.recentUser_removeRecentUserButton {
  position: relative;
  left: 10px;
  top: -5px;
  border: 0;
  outline: none;
  background: rgba(255, 255, 255, 0);
  color: rgb(51, 51, 51);
}

.recentAndLikedEntry,
.recentUserEntry {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.recentAndLikedEntry::-webkit-scrollbar,
.recentUserEntry::-webkit-scrollbar {
  display: none;
}

.recentAndLikedEntry_content,
.recentUserEntry_content {
  position: relative;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  width: 14.8em;
  height: 46.3%;
}

.recentAndLikedEntry_content_thumbnail {
  position: relative;
  width: 14.8em;
  height: 8.3em;
  min-width: 14.8em;
}

.recentAndLikedEntry_content_title {
  position: relative;
  font-size: 1.2em;
  width: 70%;
  margin-top: 0.2em;
  color: rgb(255, 255, 255);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  max-height: 2.4em;
}

.recentAndLikedEntry_content_likeAmount {
  position: absolute;
  font-size: 1em;
  right: 0%;
  top: 8.8em;
  color: rgb(255, 255, 255);
}

.recentList_viewButton,
.likedList_viewButton,
.recentUser_viewButton {
  position: relative;
  width: 14.8em;
  height: 8.3em;
  margin-left: 2em;
  border: none;
  background: rgb(50, 49, 50);
}

.viewIcon {
  position: relative;
  font-size: 3em;
}

.userViewIcon {
  position: relative;
  font-size: 2em;
}

/* recent user */
.recentUserEntry_content {
  display: flex;
  border: 1px solid black;
  height: 6em;
  background: rgb(97, 96, 97);
}

.recentUserEntry_profileImg {
  position: relative;
  width: 5em;
  height: 5em;
  left: 8%;
  top: 50%;
  transform: translate(0%, -50%);
  border-radius: 50%;
}

.recentUserEntry_nickname {
  position: relative;
  width: 6em;
  left: 16%;
  top: 50%;
  transform: translate(0%, -50%);
  color: rgb(255, 255, 255);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  max-height: 2.4em;
}

.recentUser_viewButton {
  height: 6em;
}

.recentList_removeRecentListButton:hover,
.recentUser_removeRecentUserButton:hover,
.recentList_viewButton:hover,
.likedList_viewButton:hover,
.recentUser_viewButton:hover {
  opacity: 0.9;
  color: gray;
  transition: 0.5s;
}

.recentList_removeRecentListButton:focus,
.recentUser_removeRecentUserButton:focus,
.recentList_viewButton:focus,
.likedList_viewButton:focus,
.recentUser_viewButton:focus {
  outline: none;
}
