.playListPage {
  margin: 2em;
}
.playListPage_title {
  position: relative;
  display: inline-block;

  top: 15px;
  left: 6%;
  font-size: 2em;
  /* margin-bottom: 1em; */
}

.playListPage_modalButton {
  position: fixed;
  right: 10%;
  bottom: 10%;
  width: 2em;
  height: 2em;
  border: 3px solid black;
  border-radius: 50%;
  font-size: 2em;
  outline: none;
  background: rgba(180, 178, 178, 0.4);
}

/* MyPlayList */
.myPlayList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 3em;
  margin-left: 5em;
  margin-right: 5em;
}

.myPlayList_entry {
  position: relative;
  margin: 2em;
  margin-top: 0;
  width: 19.5%;
  height: 46.3%;
}

.myPlayList_entry-thumbnails {
  width: 100%;
  height: 9em;
  cursor: pointer;
}

.myPlayList_entry-deleteButton {
  position: absolute;
  top: -7%;
  right: -9%;
  font-size: 2em;
  border: none;
  background: rgba(255, 255, 255, 0);
}

.myPlayList_entry-title {
  position: relative;
  height: 2em;
}

.myPlayList_entry-title-description {
  position: absolute;
  font-size: 1.7em;
  margin: 5px;
}

.myPlayList_entry-title-inputBox {
  position: absolute;
  font-size: 1.2em;
  width: 95%;
  height: 90%;
  border: 0;
  margin-left: 5px;
  outline: none;
  border-bottom: 1px solid black;
}

.myPlayList_entry-title-editButton {
  position: absolute;
  right: 0;
  top: 3px;
  margin: 5px;
  border: 0;
  outline: none;
  background: rgba(255, 255, 255, 0);
}

/* .myPlayList_entry-title-completeButton {
  position: absolute;
  right: 0;
  top: 4px;
  border: 0;
  background: rgba(255, 255, 255, 0);
} */

.myPlayList_entry-liked {
  margin-left: 8px;
}

.myPlayList_entry-audience {
  margin-left: 5px;
}

/* CreateListModal */
.createListModal {
  position: fixed;
  top: 5%;
}

.createListModal_content {
  position: relative;
  height: 37em;
}

.createListModal_content_titleInputBox {
  position: relative;
  margin: 1em;
  margin-top: 0;
}

.createListModal_content_titleInputBox-box {
  position: relative;
  font-size: 1.5em;
  width: 100%;
  outline: none;
}

.createListModal_content_musicStackBox {
  position: relative;
  height: 6em;
  border: 1px solid black;
  margin: 1em;
  margin-top: 0;
  border-radius: 2px;
  overflow: auto;
}

.createListModal_content_musicStackBox-entry {
  position: relative;
  margin: 10px;
}

.createListModal_content_musicStackBox-entry-title {
  position: relative;
}

.createListModal_content_musicStackBox-entry-deleteEntryButton {
  position: absolute;
  top: 0%;
  right: 0%;
}

.createListModal_content_searchMusic {
  position: relative;
  margin: 1em;
  margin-top: 0;
}

.createListModal_content_searchMusic-inputBox {
  position: relative;
  width: 85%;
  height: 2em;
  outline: none;
}

.createListModal_content_searchMusic-searchButton {
  position: relative;
  width: 15%;
  height: 2em;
  /* border: none; */
  outline: none;
}

.createListModal_content_searchMusic-entries {
  position: relative;
  overflow: auto;
  height: 19em;
  margin-top: 1em;
}

.createListModal_content_searchMusic-entry {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
}

.createListModal_content_searchMusic-entry-title {
  position: absolute;
  width: 57%;
  top: 20%;
  left: 30%;
  height: 65%;
  overflow: auto;
}

.createListModal_content_searchMusic-entry-addEntryButton {
  position: absolute;
  right: 0;
  top: 40%;
  transform: translate(0%, -50%);
}

.createListModal_content_createListButton {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
